.App{

  --brand: #7d4cdb;
  --accent-1: #6FFFB0;
  --accent-2: #FD6FFF;
  --accent-3: #81FCED;
  --accent-4: #FFCA58;
  --neutral-2: #3D138D;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  text-align: center;
  font-weight: 800;
  font-size: x-large;
  color: var(--brand);
  background-color: var(--accent-1);
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img{
  margin: 0 10px;
}
footer{
  display: flex;
  flex-direction: row;
  align-items:baseline;
  color: var(--neutral-2);
  align-items: baseline;
  justify-content: center;
}
footer a{
  color:var(--brand);
  text-decoration: unset;
}
